body {
	padding-top: 50px;
	font-family: Verdana, Times New Roman, Times, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alegreya Sans SC', Verdana, Times New Roman, Times, sans-serif !important;
}

pre {
	background-color: #FFFFFF !important;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
	background-color: black !important;
}

.alegreyaSansSC {
	font-family: 'Alegreya Sans SC', Verdana, Times New Roman, Times, sans-serif;
}

.well {
	background: #FFFFFF !important;
}

.teamMember {
	margin-left: auto;
}

.nuget-badge code {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#202020;
	border:4px solid silver;
	border-radius:5px;
	box-shadow:2px 2px 3px #6e6e6e;
	color:#e2e2e2;
	display:block;
	font:1em 'andale mono','lucida console',monospace;
	line-height:1em;
	overflow:auto;
	padding:10px
}

#navLogo {
	display: inline;
	position: relative;
	bottom: 2px;
	margin-right: 5px;
}

#navLogoText {
	color: white;
}

#downloadButton {
	margin-bottom: 10px;
}